body {
    font-family: 'Rosario', sans-serif;
    
}
navbar {
    position: fixed;
}
.navbar-brand {
    color: white;
}
.nav-link {
    color: white;
}
.flex-column {
    margin: 0px -20px 20px 20px;
    visibility: visible;
    
}
.flex-column >li >a {
    padding: 20px 20px;
}
.side {
    
    color: black;
}
.navside {
    color: black;
}
.activeside {
    color: black;
}